body{
background:black;	
}
#chat{
	margin:0 auto;
    padding-bottom:20px;
    background:black;
    width:200;
    border:1px solid white;
}
#chat-window{
	text-align:left;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom:30px;
    padding:10px;
    background:black;
    height:470px;
    width:430px;
    border:1px solid white;
    overflow:auto;
	border-radius: 15px;
}
#outpot{
	text-align:left;
	font-family: Courier New;
	color: #C1E3EE;
}
#feedback{
	font-size :20px;
	font-family: Courier New;
	color: #C1E3EE;
}
#handle{

	margin:0 auto;
	margin-left: 80px;
	font-size :20px;
	background:black;
	height:21px;
    width:447px;
    border:1px solid white;
   color: #C1E3EE;

}
#message{
	margin:0 auto;
	margin-left: 80px;
	font-size :20px;
	background:black;
	height:21px;
    width:447px;
    border:1px solid white;
    color: #C1E3EE;
}
#send{
	margin:0 auto;
	margin-left: 80px;
	font-size :20px;
	color: white;
	background:black;
	height:28px;
    width:453px;
    border:1px solid white; 
    }